
body {
  background: radial-gradient(circle at 10% 20%, rgb(252, 252, 251) 0%, rgb(247, 246, 245) 54.2%, rgba(193, 136, 247, 0.767) 100.3%);
}
.city {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.main-container {
    max-width: 600px;
    display: block;
    margin: auto;
    background-color:  #321363dc;
    border-radius: 10px;
    padding: 10px 30px 20px 30px;
    text-align: center;
    color:ivory;
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-shadow: -22px 28px 23px 4px rgba(38, 37, 37, 0.4);
    
}
.main-temp{
    font-family:"Tajawal", sans-serif;
    font-size: 38px;
    font-weight: 600;
}
.grid{
    display: grid;
    height: fit-content;
    grid-template-columns: 150px 150px;
    align-content: space-evenly;
    justify-content:space-between;
    grid-gap: 30px;
    font-weight: 300;
    font-size: 16px;
    
}

.low-temp{
    font-weight: 200;
    font-size: 16px;
}
.box-top{
    margin: 15px 15px 15px 15px;
    background: linear-gradient(220deg, rgb(230, 128, 159) 0%, rgb(139, 102, 241) 100%);
    border-radius: 30px;
    padding: 10px;
    display: block;
}
.center-icon   {
    
    margin: 0;
    align-content:center;
    min-width: 200px;
}
img .center-icon {
    min-width: 200px;

}
::placeholder {
    color:rgb(0, 0, 0);
    font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-weight: 300;
    text-align: center;
    font-stretch: expanded;
    font-size: 18px;
    background-color: #a06cde;
}


.city-input {
    background-color: #b99ce9e7;
    font-weight: 400;
    border:ridge;
    border-radius: 3px;
    border-color: #b99ce9e7;
}
.grid-days{
    margin-top: 20px;
    text-align: center;
    display:grid;
    grid-template-columns: 80px 80px 80px 80px 80px;
    grid-gap: 20px;
    justify-content: space-evenly;
    color:rgba(14, 13, 13);
    padding-bottom: 10px;
    

    
}
.grid-icon{
    width: 100%;
    display: block;
    margin:0 auto;
    
}
.col-1 {
     
     display: block;
     border-radius: 10px;
     background-color: #a06cde;
     
}
.col-1:hover{
    background-color: rgba(9, 3, 15, 0.623);
}
.day-1 {
    font-size: 16px;
    
}

.daily-temps {
    font-size: 13px;
}
.daily-temp-hi{
    font-weight: 600;
}
.daily-temp-low {
    opacity: 0.7;

}


a {
    font-weight: 600;
    color: black;
}
a:hover{
    color:#f39add;
}